
<md-content ng-if="isAuthenticated()" md-theme="docs-dark" class="md-padding" layout="column" layout-sm="column">
  <br/><br/><br/><br/>
  <br/><br/><br/><br/>
<div ng-if="matched === 1">
<div class="text-center">
<h1 class="pure-splash-head" ng-hide="winner || cat">IT'S YOUR TURN <span class="blue">{{ currentPlayer.Name | uppercase}}</span></h1>
<h1 class="pure-splash-head" ng-show="winner"><span class="blue">{{ currentPlayer.Name | uppercase}}</span> JUST <span class="red">WON</span> THE GAME!</h1>
<h1 class="pure-splash-head" ng-show="cat">CAT(TIE) MEOW ! </h1>
<h1 class="pure-splash-subhead" ng-show="winner || cat">REDIRECTING TO HOME IN 3..2..1...</h1>
<br/><br/><br/>
      <div layout-margin layout-fill  ng-repeat="row in board">
        <md-button class="md-accent btn-tic-tac-toe md-raised"
                ng-repeat="cell in row "
                ng-disabled="isTaken(cell)||winnerDisabled();"
                ng-class="cell.value"
                ng-click="move(cell);">{{ cell.value }}</md-button>
      </div>
      <br/>
  </div>
</div>
<div ng-if="matched === 0">

  <h1 class=" text-center pure-splash-head">Matching a player right now...</h1>
</div>
</md-content>

<md-content ng-if="!isAuthenticated()" md-theme="docs-dark" class="md-padding shadow" layout="column" layout-sm="column">
  <h1>Please Register an account.</h1>
</md-content>
